* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.keywordList {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.keywordList > li {
  width: 266.6666666667px;
  height: 980px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  align-items: center;
  position: absolute;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.keywordList > li .black {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background-color: #000;
  opacity: 0;
  z-index: 999999;
  pointer-events: none;
}
.keywordList > li.on {
  z-index: 99;
}
.keywordList > li.on .thumbList {
  pointer-events: auto;
}
.keywordList > li.on .swiperContents {
  pointer-events: auto;
  z-index: 12;
}
.keywordList > li.on .swiperContents li p {
  line-height: 1.5;
  margin-top: 30px;
  padding: 0 30px;
}
.keywordList > li.on .mainClose {
  pointer-events: auto;
}
.keywordList > li.on .bg {
  pointer-events: none;
}
.keywordList > li.on .icons {
  pointer-events: auto;
}
.keywordList > li.not {
  pointer-events: none;
}
.keywordList > li .topBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 35%;
  opacity: 1;
  background: linear-gradient(180deg, rgb(82, 82, 82) 0%, rgb(146, 127, 121) 65%, rgba(255, 255, 255, 0) 100%);
}
.keywordList > li .title {
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 46.6666666667px;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 18.6666666667px;
}
.keywordList > li .title span {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
}
.keywordList > li .img {
  text-align: center;
  position: absolute;
  top: 146.6666666667px;
  transform: scale(0.65);
  transform-origin: 50% 0;
}
.keywordList > li .img img {
  width: 100%;
}
.keywordList > li .desc {
  padding: 0 50px;
  line-height: 1.8;
  position: absolute;
  width: 100%;
  padding: 0 50px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  top: 520px;
  z-index: 3;
}
.keywordList > li .desc .char {
  opacity: 0;
}
.keywordList > li .category {
  font-weight: 700;
  font-size: 26.6666666667px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 380px;
  white-space: nowrap;
}
.keywordList > li .topCategory {
  font-weight: 700;
  font-size: 26.6666666667px;
  position: absolute;
  right: 20px;
  top: 30px;
  white-space: nowrap;
  opacity: 0;
}
.keywordList > li .mainClose {
  position: absolute;
  right: -90px;
  top: 50%;
  outline: none;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  z-index: 2;
  background: none;
  opacity: 0;
  pointer-events: none;
}
.keywordList > li .mainClose img {
  width: 50px;
}
.keywordList > li .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.keywordList > li .openBg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgb(82, 82, 82) 80%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}
.keywordList > li .btns {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}
.keywordList > li .btns img {
  width: 40px;
}
.keywordList > li .thumbList {
  z-index: 11;
  position: absolute;
  width: 100%;
  top: 700px;
  opacity: 0;
  pointer-events: none;
}
.keywordList > li .thumbList ul {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.keywordList > li .thumbList ul li {
  margin: 8px;
}
.keywordList > li .thumbList ul li img {
  width: 100px;
}
.keywordList > li .thumbList ul li p {
  display: none;
}
.keywordList > li .contentsHtml {
  display: none;
  z-index: 12;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 540px;
  bottom: 20px;
  background-color: #fff;
  opacity: 0;
  pointer-events: auto;
}
.keywordList > li .contentsHtml iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.keywordList > li .contentsHtml .close {
  position: absolute;
  right: -10px;
  top: -50px;
  background: none;
  border: none;
  color: #fff;
  z-index: 2;
}
.keywordList > li .contentsHtml .close .material-icons {
  font-size: 36px;
}
.keywordList > li .swiperContents {
  display: none;
  overflow: hidden;
  z-index: 12;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 520px;
  bottom: 20px;
  border-radius: 10px;
  background-color: #999;
  opacity: 0;
  pointer-events: none;
}
.keywordList > li .swiperContents .close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  color: #fff;
  z-index: 2;
}
.keywordList > li .swiperContents .close .material-icons {
  font-size: 36px;
}
.keywordList > li .swiperContents li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.keywordList > li .swiperContents li img {
  width: 80%;
  height: 400px;
  object-fit: contain;
}
.keywordList > li .swiperContents li video {
  width: 80%;
  height: 230px;
  object-fit: contain;
}
.keywordList > li:nth-child(1) {
  background-image: url("../images/keyword/bg/col_011_1.jpg");
}
.keywordList > li:nth-child(2) {
  background-image: url("../images/keyword/bg/col_011_2.jpg");
}
.keywordList > li:nth-child(3) {
  background-image: url("../images/keyword/bg/col_011_3.jpg");
}
.keywordList > li:nth-child(4) {
  background-image: url("../images/keyword/bg/col_011_4.jpg");
}
.keywordList > li:nth-child(5) {
  background-image: url("../images/keyword/bg/col_012_1.jpg");
}
.keywordList > li:nth-child(6) {
  background-image: url("../images/keyword/bg/col_012_2.jpg");
}
.keywordList > li:nth-child(7) {
  background-image: url("../images/keyword/bg/col_012_3.jpg");
}
.keywordList > li:nth-child(8) {
  background-image: url("../images/keyword/bg/col_012_4.jpg");
}
.keywordList > li:nth-child(9) {
  background-image: url("../images/keyword/bg/col_013_1.jpg");
}
.keywordList > li .icons {
  position: absolute;
  width: 100%;
  bottom: 50px;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  display: none;
}
.keywordList > li .icons .list {
  display: flex;
  justify-content: center;
}
.keywordList > li .icons .list li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.keywordList > li .icons .list li img {
  transform: scale(0.55);
}