.keywordList > li:nth-child(1) {
  background-image: url("../images/keyword/bg/col_031_1.jpg");
}
.keywordList > li:nth-child(2) {
  background-image: url("../images/keyword/bg/col_031_2.jpg");
}
.keywordList > li:nth-child(3) {
  background-image: url("../images/keyword/bg/col_031_3.jpg");
}
.keywordList > li:nth-child(4) {
  background-image: url("../images/keyword/bg/col_031_4.jpg");
}
.keywordList > li:nth-child(5) {
  background-image: url("../images/keyword/bg/col_031_5.jpg");
}
.keywordList > li:nth-child(6) {
  background-image: url("../images/keyword/bg/col_031_6.jpg");
}
.keywordList > li:nth-child(7) {
  background-image: url("../images/keyword/bg/col_032_1.jpg");
}
.keywordList > li:nth-child(8) {
  background-image: url("../images/keyword/bg/col_032_2.jpg");
}
.keywordList > li:nth-child(9) {
  background-image: url("../images/keyword/bg/col_032_3.jpg");
}