* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #3c3c3b;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

.wrap {
  display: flex;
  position: relative;
}

#header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: calc(100px / 1.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: calc(160px / 1.5);
  width: calc(100% - (320px / 1.5));
  box-sizing: border-box;
}
#header .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: calc(300px / 1.5) 0;
}
#header .info img {
  width: calc(500px / 1.5);
}
#header .info p {
  margin-top: 20px;
  font-size: calc(40px / 1.5);
  color: rgba(255, 255, 255, 0.5);
}
#header .titleBox {
  display: flex;
  margin-top: 0;
}
#header .titleBox #logo img {
  width: calc(1160px / 1.5);
}
#header .titleBox .desc {
  margin-left: calc(100px / 1.5);
  font-size: calc(30px / 1.5);
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}
#header .titleBox .subTitle {
  position: absolute;
  right: 0;
}
#header .titleBox .subTitle img {
  width: calc(290px / 1.5);
}

#main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#main .pdfListBox {
  position: absolute;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  padding: calc(250px / 1.5) calc(350px / 1.5);
  box-sizing: border-box;
}
#main .pdfListBox.on .pdfList {
  pointer-events: auto;
}
#main .pdfListBox.on button {
  pointer-events: auto;
}
#main .pdfListBox .mask {
  overflow: hidden;
}
#main .pdfListBox .pdfList {
  pointer-events: none;
}
#main .pdfListBox .pdfList li .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(620px / 1.5);
}
#main .pdfListBox .pdfList li .thumb img {
  width: 100%;
  object-fit: cover;
}
#main .pdfListBox .pdfList li .txtBox {
  margin-top: calc(50px / 1.5);
  padding-top: calc(50px / 1.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: calc(26px / 1.5);
  line-height: 1.5;
}
#main .pdfListBox .pdfList li .txtBox .title {
  font-size: calc(28px / 1.5);
  font-weight: 500;
  margin-bottom: calc(20px / 1.5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main .pdfListBox .pdfList li .txtBox .date {
  font-size: calc(28px / 1.5);
}
#main .pdfListBox .pdfList [data-type=video] .thumb {
  position: relative;
}
#main .pdfListBox .pdfList [data-type=video] .thumb:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/media-table/play.png") no-repeat 50%;
  background-size: 100px;
  width: 100%;
  height: 100%;
}
#main .pdfListBox button {
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
}
#main .pdfListBox button img {
  width: calc(90px / 1.5);
}
#main .pdfListBox button.btnPrev {
  left: calc(160px / 1.5);
}
#main .pdfListBox button.btnNext {
  right: calc(160px / 1.5);
}
#main .panorama {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 calc(160px / 1.5);
}
#main .panorama .inner {
  padding: 250px 0 0 0;
  position: relative;
}
#main .panorama .info {
  font-size: calc(30px / 1.5);
  line-height: 1.5;
  text-align: center;
  padding: 0 calc(1000px / 1.5);
  margin-bottom: 80px;
  opacity: 0;
  display: -webkit-box;
  height: 7.5em;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
}
#main .panorama .maskWrap {
  position: relative;
}
#main .panorama button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#main .panorama button img {
  width: calc(90px / 1.5);
}
#main .panorama button.btnPrev {
  left: 0;
}
#main .panorama button.btnNext {
  right: 0;
}
#main .panorama .btnBack {
  right: 150px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  top: 100px;
  z-index: 2;
}
#main .panorama .btnBack.on {
  pointer-events: auto;
  opacity: 1;
}
#main .panorama .mask {
  margin: 0 calc(400px / 1.5);
  overflow: hidden;
}
#main .panorama li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .panorama li .imgBox {
  position: relative;
}
#main .panorama li .imgBox .border {
  position: relative;
}
#main .panorama li .imgBox .border img {
  width: calc(282px / 1.5);
}
#main .panorama li .imgBox .thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#main .panorama li .imgBox .thumb img {
  width: calc(188px / 1.5);
}
#main .panorama li .txtBox {
  padding: 0 15px;
  text-align: left;
  opacity: 0.5;
}
#main .panorama li .txtBox .desc {
  font-size: calc(22px / 1.5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main .panorama li .txtBox .title {
  font-size: calc(26px / 1.5);
  font-weight: 500;
  margin-bottom: 10px;
}
#main .panorama button {
  position: absolute;
}

.popup {
  position: absolute;
  width: calc(1890px / 1.5);
  height: calc(1480px / 1.5);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateY(-200%) translateX(-50%);
  z-index: 99;
  background-image: url("../images/media-table//bgPopup.jpg");
}
.popup .popupInfo {
  position: absolute;
  left: 50px;
  bottom: 35px;
  font-size: calc(28px / 1.5);
  line-height: 1.5;
}
.popup .popupInfo .date,
.popup .popupInfo .title {
  font-weight: 500;
  font-size: calc(28px / 1.5);
}
.popup .popupInfo .txtBox {
  display: flex;
}
.popup .popupInfo .txtBox .department {
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
}
.popup .popupInfo .txtBox .department:before {
  content: "|";
  position: absolute;
  left: 0;
  top: 0;
}
.popup .book {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 120px;
  border: 1px solid rgb(255, 255, 255);
}
.popup .book .contents .page {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
}
.popup .book .contents video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnPopupClose {
  position: absolute;
  right: 20px;
  bottom: 30px;
  background: none;
  border: none;
}
.btnPopupClose span {
  font-size: 64px;
  color: #fff;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
}

.on .bg {
  pointer-events: auto;
}