* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #1c1c1b;
  background-size: cover;
  width: 1920px;
  height: 1200px;
  cursor: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

#main {
  width: 1920px;
  height: 1200px;
  position: fixed;
  top: 0;
  left: 0;
}
#main .img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main .fast {
  z-index: 2;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}