.keywordList > li {
  &:nth-child(1) {
    background-image: url("../images/keyword/bg/col_041_1.jpg");
  }
  &:nth-child(2) {
    background-image: url("../images/keyword/bg/col_041_2.jpg");
  }
  &:nth-child(3) {
    background-image: url("../images/keyword/bg/col_041_3.jpg");
  }
  &:nth-child(4) {
    background-image: url("../images/keyword/bg/col_041_4.jpg");
  }
  &:nth-child(5) {
    background-image: url("../images/keyword/bg/col_041_5.jpg");
  }
  &:nth-child(6) {
    background-image: url("../images/keyword/bg/col_041_6.jpg");
  }
  &:nth-child(7) {
    background-image: url("../images/keyword/bg/col_042_1.jpg");
  }
  &:nth-child(8) {
    background-image: url("../images/keyword/bg/col_042_2.jpg");
  }
  &:nth-child(9) {
    background-image: url("../images/keyword/bg/col_042_3.jpg");
  }
}
