@import "vars";
@import "mixin";

// sass list  (a.k.a js array)
$colors: (rgb(228, 121, 0), rgb(26, 224, 0), rgb(5, 147, 212), rgb(156, 6, 216), rgb(206, 24, 39), rgb(138, 51, 1));

$ratio: 1.5;
$color-opacity: 0.5;
* {
  box-sizing: border-box;
}
img {
}
html {
}
body {
  overflow: hidden;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #1c1c1b;
  background-size: cover;
  width: 1920px;
  height: 1200px;
  cursor: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
}

#main {
  width: 1920px;
  height: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .fast {
    z-index: 2;
    //clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}
